Binaries
DerivedDataCache
Intermediate
Saved
Content/Maps
Content/MixamoAnimPack
Content/OceanFloor
Content/StarterContent
Content/TropicalOceanFloor
Content/AnimStarterPack
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace